</main> <footer class="main-footer">
        <p>&copy; 2026 <%= firma_adi %> | Tüm hakları saklıdır.</p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.8.1/vanilla-tilt.min.js"></script>

</body>
</html>